.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    height: 13vh;

}

.marker {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    font-size: 1.2rem;

}
.mid {
    padding: 10px;
}
.logo{
    padding-left: 120px;
    height: 130px;
    width: 140px;
}
.container2{
    padding-left: 30px;
    padding-right: 800px;
    cursor: pointer;
}
.container3 {
    padding-right: 40px;
}
.custom {
    background-color: red; /* Green background */
    border: none; /* Remove border */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding around text */
    text-align: center; /* Center text horizontally */
    text-decoration: none; /* Remove underline from text */
    display: inline-block; /* Make button behave like an inline element */
    font-size: 18px; /* Font size */
    cursor: pointer; /* Show pointer cursor on hover */
    border-radius: 20px; /* Rounded corners */
}
