.hero {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    background: white;
}

.container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;

}

.row1{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.image1{
  height: 250px;
  width: 400px;
}